# Ignore Python cache
ingestions/__pycache__/
models/__pycache__/
prompts/__pycache__/
__pycache__/
*.pyc

# Ignore virtual environment
/venv/

# Ignore environment variables file
.env

# Ignore vector store files
database/*

# Ignore documents folder contents
documents/*