# Ignore Python cache
ingestion/__pycache__/
models/__pycache__/
prompts/__pycache__/
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore environment variables file
.env

# Ignore vector store files inside database folder, but keep the folder
database/*
!database/.gitkeep

# Ignore all documents inside documents folder, but keep the folder
documents/*
!documents/.gitkeep
